@model WebApplication3.Models.CourseEnumsModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post">

    @Model.Error
    @Html.Raw(@Model.Error)
    @Html.DisplayNameFor(model => model.OptionSelected)
    @Html.EnumDropDownListFor(model => model.OptionSelected)
    <input type="submit" value="Send" />
</form>