@model WebApplication3.Models.Genre

@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>

<div>
    <h4>Genre</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.ArtistId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtistId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SongDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SongDate)
        </dd>

        <dd>
            @*<img src="@Url.Content(@Model.Image)" alt="image mising" />*@
            @Html.Image(@Model.Image, "alternate text")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
