@model IEnumerable<WebApplication3.Models.Student>
@using WebApplication3.Extension

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<script>
    $(function () {
        $("#txtSearch").autocomplete({
            source: '@Url.Action("GetStudents")'
        });
    });
</script>
@using(@Html.BeginForm())
{
    <b>Name</b>
    @Html.TextBox("searchTerm", null, new { id = "txtSearch" })
    <input type="submit" value="Search"/>
    
}
<table class="table" id="studentstable" style="border: 1px solid black; background-color: silver">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @item.Amount.ConvertToDollar()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
        </tr>
    }
</table>
