@model WebApplication3.Models.DropDownViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script>
    debugger;
    var x = @Json.Encode(@Model.BoolVal)
        alert(x);
</script>

<form method="post">
    @Html.DropDownListFor(m => m.Id, Model.SongList, "", new { @class = "form-control" })
    @*here name = classtest should be the property that should match in the model*@
    <select id="idselect" name="classselect" onchange="makeajaxcall()">
        <option value="1">One</option>
        <option value="2">Two</option>
        </select>
    @Html.HiddenFor(m=>m.BoolVal)
        <select id="idtest" name="classtest"></select>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(m => m.Name)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => m.RateInDollar)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.RateInDollar)
            </dd>
        </dl>
        <p style="display:none">@Model.test</p>
        <input type="submit" value="Send" />
    <button id="btn" onclick="sendhiddenfieldtobackend()">click and send hidden field data to backend</button>
</form>
<script>
    $("p").show();
</script>
<script>
    function makeajaxcall()
    {
        //get the selected value from the dropdown
        var idselect = $('#idselect').val()
        if (idselect === "undefined")
        {

        }
        $.ajax({
            type: 'POST',
            url: '/DropDown/hello',
            data: { id: idselect },
            success: function (data) {
                //now here we are getting the json data, we will create a dropdown here dynamically
                var markup = '';
                for (var x = 0; x < data.length; x++)
                {
                    markup += '<option value="' + data[x].Value+'">' + data[x].Text +  '</option>'
                }
                //now here we created the dropdown explicilty now we need to put this entire htm content to the empty dropdown tag that we have created namely "idtest"
                $("#idtest").html(markup);
            },
            error: function () {
                alert("sadfsdf");
            }
        });
    }
</script>

<script>
  
    $('input:hidden[name=BoolVal]').val(true);
    // suppose we want to access any model property we can directly access as  @@Model.BoolVal
    // but if you want to alter any of the property then you cannot do soemthing like @@Model.BoolVal ==true as during runtime the @@Model is not presernt in javascript code
    //// in order to alter any of the model property you need to bind it to any UI elelent and then you can alter it. just like   $('input:hidden[name=BoolVal]').val(true);
</script>

<script>
    function sendhiddenfieldtobackend() {
        //get the selected value from the dropdown
        var boolVal = $('#BoolVal').val()
        $.ajax({
            type: 'POST',
            url: '/DropDown/gethiddenvalue',
            data: { boolVal: boolVal },
            success: function (data) {
                alert("success");
            },
            error: function () {
                alert("sadfsdf");
            }
        });
    }
</script>




