@model WebApplication3.Models.DropDownViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script>
    debugger;
    var x = @Json.Encode(@Model.BoolVal)
        alert(x);
</script>

<form method="post">
    @Html.DropDownListFor(m => m.Id, Model.SongList, "", new { @class = "form-control" })
    @*here name = classtest should be the property that should match in the model*@
    <select id="idtest" name="classtest">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
    </select>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(m => m.Name)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.RateInDollar)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.RateInDollar)
        </dd>
    </dl>
    <p style="display:none">@Model.test</p>
    <input type="submit" value="Send" />
</form>
<script>
    $("p").show();
</script>