@model IEnumerable<WebApplication3.Models.City>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Delete", "City", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>
                <input type="checkbox" id="checkAll"/>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="listOfCityIdToDelete" id="listOfCityIdToDelete" value="@item.Id">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
            </tr>
        }

    </table>
    <input type="submit" value="Submit" />

}
<div class="fooq">hell</div>
<script>
    $(".fooq").click(function () {
        alert("class selector");
    });
</script>

<a href="#one">One</a>
<a href="#two">Two</a>
<a href="#three">Three</a>
<a href="#four">Four</a>
<a href="#five">Five</a>
@* select an element based on jquery attribute selector. *@
<script>
    $("a[href='#two']").click(function () {
        alert("jquery atribute selector");
    });
</script>

<script>
    $("#checkAll").click(function () {
        $("input[type='checkbox']").prop("checked", this.checked);
    });
</script>